@charset "utf-8";

/**
 * Custom Properties
 * https://app.frontify.com/d/WNaMzU7K3G6y/amebablog-style-guide#/basics/colors
 */

/* custom properties https://www.w3.org/TR/css-variables/ */

:root {
  /* Ameba color palette */

  /* Grayscale */
  --clr-black-a80: rgba(0, 0, 0, 0.8);
  --clr-black-a50: rgba(0, 0, 0, 0.5);
  --clr-black-a10: rgba(0, 0, 0, 0.1);
  --clr-black-a5: rgba(0, 0, 0, 0.05);
  --clr-darkgray: #333;
  --clr-gray: #757575;
  --clr-lightgray: #858585;
  --clr-darksilver: #aaa;
  --clr-dimsilver: #ccc;
  --clr-silver: #e2e2e2;
  --clr-lightsilver: #efefef;
  --clr-whitesmoke: #f8f8f8;
  --clr-white: #fff;

  /* Colors */
  --clr-darkgreen: #298538;
  --clr-green: #2d8c3c;
  --clr-lightgreen: #49c755;
  --clr-blue: #4290c6;
  --clr-lightblue: #58b8ef;
  --clr-pink: #ff547c;
  --clr-red: #f24c3b;
  --clr-orange: #fe9019;
  --clr-yellow: #f8cd21;
  --clr-lightyellow: #fcfae8;
  --clr-gold: #cea65c;
  --clr-bronze: #b98353;

  /* Brand Colors */
  --clr-twitter: #1da1f2;
  --clr-facebook: #3b5998;
  --clr-line: #00b900;
  --clr-hatebu: #008fde;
  --clr-755: #fb4c42;
  --clr-dotmoney: #00bd9e;
  --clr-amebanews: #3890f1;
}

/**
 * Common
 */

/**
 * ページ共通　style
 */

/**
 * base
 */

html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
}

body {
  color: var(--clr-darkgray);
  margin: 0;
}

a {
  color: var(--clr-gray);
}

a:hover,
a:focus {
  color: var(--clr-darkgray);
  text-decoration: none;
  background-color: var(--clr-silver);
}

/* ヘッダー以外のアウトラインは不要 */

article a {
  outline: none;
}

ol,
ul {
  padding-left: 28px;
  margin: 1.6rem 0
}

ol > li {
  padding-left: 1.4rem;
}

ol > li ul {
  padding: 0;
}

ol > li ul li {
  list-style: none;
}

ol > li ul li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background: var(--clr-gray);
  vertical-align: middle;
  margin-right: 8px;
}

li {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}

iframe {
  overflow: hidden;
  border: 0;
}

p {
  font-size: 1.4rem;
  line-height: 1.71;
  margin: 12px 0;
}

/**
 * Overrides
 * ライブラリの上書きしたいもの
 * A11y lightスタイルをベースに、Amebaカラーパレットに近い配色になるよう拡張する
 * @see https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/a11y-light.min.css
 * @see https://highlightjs.org/
 */

/* highlight.jsの上書き */

.hljs {
  background-color: var(--clr-whitesmoke);
  color: var(--clr-darkgray);
  font-size: 1.4rem;
  padding: 3.2rem 32px;
  line-height: 2.28;
}

/* 背景色を変えたことでコントラスト比が4.5:1を満たせなくなる組み合わせ */

.hljs-title,
.hljs-section {
  color: #057AAD;
}

/**
 * Container
 */

.Container {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

/* PCとSPで基準値かえるならつかう */

@media (max-width: 800px) {
  .Container {
    padding: 0 5vw; /* = 16px viewport-width: 320px */
  }
}

/**
 * Footer
 */

.Footer {
  border-top: solid 1px var(--clr-silver);
  margin-top: 30px;
  padding: 3.2rem 0;
  color: var(--clr-darkgray);
  font-size: 1rem;
}

.Footer__Credit a {
  color: inherit;
  margin-left: 16px;
  line-height: 1;
}

.Footer a:hover, .Footer a:focus {
  background-color: inherit;
}

.Footer__Credit {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 2.8rem;
}

/**
 * Header
 */

.Header {
  padding: 0;
  margin-bottom: 7.2rem;
}

.Header a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
}

.Header a:hover,
.Header a:focus {
  background-color: inherit;
}

.Header__Logo {
  display: block;
  margin: 6.4rem 0 4.8rem;
  width: 157px;
}

.Header__title {
  border-left: 8px solid var(--clr-darkgray);
  display: inline-block;
  padding-left: 32px;
  font-size: 4.8rem;
  line-height: 1.16;
  font-weight: bold;
}

@media (max-width: 414px) {
  .Header {
    margin-bottom: 9.6rem;
  }
  .Header__Logo {
    margin-top: 3.2rem;
    margin-bottom: 2.1rem;
  }
  .Header__title {
    font-size: 3.6rem;
    padding-left: 0;
    border-left: 0;
  }
  .Header a {
    padding-bottom: 0;
  }
}

/**
 * label
 */

.Label {
  border-radius: 8px;
  border: solid 1px var(--clr-gray);
  color: var(--clr-gray);
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
  padding: 0.2rem 8px;
  vertical-align: text-bottom;
}

.License p {
  font-size: 1.2rem;
  margin-top: 1.6rem;
}

.License p:first-child {
  margin-top: 0;
}

.License__Anchor {
  display: block;
}

/**
 * figure
 *
 */

figure {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  margin: 3.2rem 0 4.8rem;
}

figure img,
figure video {
  border: 1px solid var(--clr-silver);
  max-width: 100%;
}

figcaption {
  font-size: 12px;
  margin-top: 0.8rem;
}

.Figurelist {
  margin: 3.2rem -24px 4.8rem;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.Figurelist li {
  list-style: none;
  vertical-align: top;
  margin: 3.2rem 0 0;
  padding: 0 24px;
  box-sizing: border-box;
  width: 50%;
}

.Figurelist li:first-child,
.Figurelist li:nth-child(2) {
  margin-top: 0;
}

.Figurelist figure {
  margin: 0;
}

/**
 * 4.1.2のように画像を2枚並べる図に使う。
 */

.FigureMulti {
  position: relative;
}

.FigureMulti img {
  width: 52%;
}

.FigureMulti img + img {
  bottom: -1rem;
  right: 0;
  position: absolute;
}

@media (max-width: 800px) {
  .Figurelist {
    margin-left: -8px;
    margin-right: -8px;
  }
  .Figurelist li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* for smartphone */

@media (max-width: 414px) {
  .Figurelist {
    display: block;
  }
  .Figurelist li {
    width: 100%;
  }
  .Figurelist li:nth-child(2) {
    margin-top: 3.2rem;
  }
}

/**
 * RuleLabel
 */

.RuleLabel {
  display: block;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin: 16px 0 8px;
  padding-right: 12px;
}

.RuleLabel > img {
  border: none;
  vertical-align: -0.5em;
}

.RuleLabel--good {
  color: var(--clr-darkgreen);
}

.RuleLabel--bad {
  color: var(--clr-red);
}

/**
 * For default.css
 */

/**
 * index.md, service.md
 */

/**
 * heading
 */

h1 {
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 6.4rem 0 2.4rem;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 6.4rem 0 2.4rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.75;
  margin: 4.8rem 0 3.2rem;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--clr-silver);
}

h4 {
  font-size: 1.6rem;
  line-height: 1.71;
  margin: 3.2rem 0 1.6rem;
}

h5 {
  border-left: 4px solid var(--clr-gray);
  font-size: 1.4rem;
  line-height: 1.71;
  margin: 3.2rem 0 2.4rem;
  padding-left: 16px;
}
