<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {% include "partials/meta.njk" %}
  </head>

  <body>
    {% include "partials/global-header.njk" %}

    {% include "partials/header.njk" %}

    <main class="Main">
      <div class="Container">
        <article class="Article">
          {% if number %}{% include "partials/breadcrumb.njk" %}{% endif %}
          {{ content | safe }}
        </article>
      </div>
    </main>

    {% include "partials/footer.njk" %}

    {% include "partials/script.njk" %}
  </body>
</html>
