/**
 * heading
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading-text);
}

h1 {
  font-size: calc(28 / 16 * 1rem);
  line-height: 1.5;
  margin: 64px 0 24px;
}

h2 {
  font-size: calc(28 / 16 * 1rem);
  line-height: 1.5;
  margin: 64px 0 24px;
}

h3 {
  font-size: calc(24 / 16 * 1rem);
  line-height: 1.75;
  margin: 48px 0 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border-low-emphasis);
}

h4 {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.71;
  margin: 32px 0 16px;
}

h5 {
  border-left: 4px solid var(--color-border-medium-emphasis);
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.71;
  margin: 32px 0 24px;
  padding-left: 16px;
}
