/**
 * heading
 */
h1 {
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 6.4rem 0 2.4rem;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 6.4rem 0 2.4rem;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.75;
  margin: 4.8rem 0 3.2rem;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-border-low-emphasis);
}

h4 {
  font-size: 1.6rem;
  line-height: 1.71;
  margin: 3.2rem 0 1.6rem;
}

h5 {
  border-left: 4px solid var(--color-border-medium-emphasis);
  font-size: 1.4rem;
  line-height: 1.71;
  margin: 3.2rem 0 2.4rem;
  padding-left: 16px;
}
