{% macro scList(scs, guidelineNumber) %}
<ul>
{%- for sc in scs | filterByGuidelineNumber(guidelineNumber) -%}
  <li><a href="{{ sc.url }}">{{ sc.data.number }} {{ sc.data.title }}</a><span class="Label">{{ sc.data.level}}</span></li>
{%- endfor -%}
</ul>
{% endmacro %}
