/*
*
* ページ共通　style
*/
html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "ヒラギノ角ゴ Pro W6", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
}

body {
  color: #333;
}

a {
  color: #757575;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
  background-color: #e2e2e2;
}

/* ヘッダー以外のアウトラインは不要 */
article a {
  outline: none;
}

ol,
ul {
  padding-left: 28px;
  margin: 1.6rem 0
}

ol > li {
  padding-left: 1.4rem;
}

ol > li ul {
  padding: 0;
}

ol > li ul li {
  list-style: none;
}
ol > li ul li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #757575;
  vertical-align: middle;
  margin-right: 8px;
}

li {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}

iframe {
  overflow: hidden;
  border: 0;
}

p {
  font-size: 1.4rem;
  line-height: 1.71;
  margin: 12px 0;
}

.Container {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

/* PCとSPで基準値かえるならつかう */
@media (max-width: 414px) {
  .Container {
    padding: 0 3.125vw; /* = 10px viewport-width: 320px */
  }
}

.Header {
  padding: 0;
  color: #000;
  margin-bottom: 7.2rem;
}

.Header a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
}

.Header a:hover,
.Header a:focus {
  background-color: inherit;
}

.Header__Logo {
  display: block;
  margin: 6.4rem 0 4.8rem;
  width: 157px;
}

.Header__title {
  border-left: 8px solid #333;
  display: inline-block;
  padding-left: 32px;
  font-size: 4.8rem;
  line-height: 1.16;
  font-weight: bold;
}


.Footer {
  margin-top: 30px;
  padding: 30px 0;
  color: #fff;
  background-color: #2d8c3c;
}

.Footer a {
  color: inherit;
  text-decoration: none;
}

.Footer__Credit {
  display: flex;
  justify-content: flex-end;
}

.Label {
  background: #e2e2e2;
  border-radius: 8px;
  color: #757575;
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
  padding: 0.3rem 8px;
  vertical-align: text-bottom;
}

/* highlight.jsの上書き */
.hljs {
  padding: 3.2rem 32px;
  font-size: 1.4rem;
  line-height: 2.28;
}
