/**
 * 開閉パネル
 */
details {
  box-sizing: border-box;
  font-size: 1.4rem;
  color: var(--clr-darkgray);
  border: 3px solid var(--clr-silver);
  border-radius: 4px;
}

summary {
  text-indent: -1.4rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  padding: 1.6rem 32px;
}

summary:before {
  content: '';
  display: block;
  width: 32px;
  height: 100%;
  background: var(--clr-white);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

details[open] {
  padding: 0 32px 1.6rem;
}

details[open] summary {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  margin: 0 -32px 1.6rem;
}

summary:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: '';
  height: 100%;
  width: 36px;
  background: url('/a11y-guidelines/img/icon/open.svg') no-repeat 0 center;
  background-size: 16px;
}
details[open] > summary:after {
  position: absolute;
  content: '';
  background: url('/a11y-guidelines/img/icon/close.svg') no-repeat 0 center;
  background-size: 16px;
}
