/**
 * base
 */
html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 62.5%;
}

body {
  background-color: var(--color-base-background);
  color: var(--color-base-text);
  margin: 0;
}

a {
  color: var(--color-link);
}

a:focus {
  color: inherit;
  background-color: var(--color-surface-accent-primary-light);
  box-shadow: 0 0 0 4px var(--color-surface-accent-primary-light);
}

article a:focus {
  outline: none;
}

ol,
ul {
  padding-left: 28px;
  margin: 1.6rem 0
}

ol > li {
  padding-left: 1.4rem;
}

ol > li ul {
  padding: 0;
}

ol > li ul li {
  list-style: none;
}
ol > li ul li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: currentColor;
  vertical-align: middle;
  margin-right: 8px;
}

li {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}

iframe {
  overflow: hidden;
  border: 0;
}

p {
  font-size: 1.4rem;
  line-height: 1.71;
  margin: 12px 0;
}
