/**
 * base
 */
html {
  overflow-wrap: break-word;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: Meiryo, "Yu Gothic Medium", system-ui, -apple-system, BlinkMacSystemFont, sans-serif ;
  line-height: 1.5;
}

body {
  background-color: var(--color-base-background);
  color: var(--color-base-text);
  margin: 0;
}

a {
  color: var(--color-link);
}

a:focus {
  color: inherit;
  background-color: var(--color-surface-accent-primary-light);
  box-shadow: 0 0 0 4px var(--color-surface-accent-primary-light);
}

article a:focus {
  outline: none;
}

ol,
ul {
  font-size: calc(14 / 16 * 1rem);
  padding-left: 2em;
  margin: 16px 0
}

ol > li {
  padding-left: 1em;
}

ol > li ul {
  padding: 0;
}

ol > li ul li {
  list-style: none;
}

ol > li ul li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: currentColor;
  vertical-align: middle;
  margin-right: 8px;
}

li {
  margin: 12px 0;
}

iframe {
  overflow: hidden;
  border: 0;
}

p {
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.71;
  margin: 12px 0;
}
