/**
 * Container
 */
.Container {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}

/* PCとSPで基準値かえるならつかう */
@media (max-width: 800px) {
  .Container {
    padding: 0 5vw; /* = 16px viewport-width: 320px */
  }
}

