/**
 * figure
 *
 */
figure {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  margin: 3.2rem 0 4.8rem;
}

figure img,
figure video {
  border: 1px solid var(--clr-silver);
  max-width: 100%;
}

figcaption {
  font-size: 12px;
  margin-top: 0.8rem;
}

.Figurelist {
  margin: 3.2rem -24px 4.8rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Figurelist li {
  list-style: none;
  vertical-align: top;
  margin: 3.2rem 0 0;
  padding: 0 24px;
  box-sizing: border-box;
  width: 50%;
}

.Figurelist li:first-child,
.Figurelist li:nth-child(2) {
  margin-top: 0;
}

.Figurelist figure {
  margin: 0;
}


/**
 * 4.1.2のように画像を2枚並べる図に使う。
 */
.FigureMulti {
  position: relative;
}

.FigureMulti img {
  width: 52%;
}

.FigureMulti img + img {
  bottom: -1rem;
  right: 0;
  position: absolute;
}

@media (max-width: 800px) {
  .Figurelist {
    margin-left: -8px;
    margin-right: -8px;
  }
  .Figurelist li {
    padding-left: 8px;
    padding-right: 8px;
  }
}
/* for smartphone */
@media (max-width: 414px) {
  .Figurelist {
    display: block;
  }
  .Figurelist li {
    width: 100%;
  }
  .Figurelist li:nth-child(2) {
    margin-top: 3.2rem;
  }
}

