/**
 * figure
 *
 */
figure {
  margin: 0;
  max-width: 100%;
  vertical-align: top;
  margin: 32px 0 48px;
}

figure img,
figure video {
  border: 1px solid var(--color-border-low-emphasis);
  max-width: 100%;
}

figcaption {
  font-size: calc(12 / 16 * 1rem);
  margin-top: 8px;
}

.Figurelist {
  margin: 32px -24px 48px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Figurelist li {
  list-style: none;
  vertical-align: top;
  margin: 32px 0 0;
  padding: 0 24px;
  box-sizing: border-box;
  width: 50%;
}

.Figurelist li:first-child,
.Figurelist li:nth-child(2) {
  margin-top: 0;
}

.Figurelist figure {
  margin: 0;
}

/**
 * 4.1.2のように画像を2枚並べる図に使う。
 */
.FigureMulti {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 12px;
  align-items: flex-end;
}

.FigureMulti img {
  max-width: 100%;
}

@media (max-width: 800px) {
  .Figurelist {
    margin-left: -8px;
    margin-right: -8px;
  }
  .Figurelist li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* for smartphone */
@media (max-width: 414px) {
  .Figurelist {
    display: block;
  }
  .Figurelist li {
    width: 100%;
  }
  .Figurelist li:nth-child(2) {
    margin-top: 32px;
  }
}
