/**
 * figure
 *
 */
figure {
  margin: var(--space-3) 0;
  max-width: 100%;
}

figure img,
figure video {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--color-border-low-emphasis);
  border-radius: var(--radius-m);
}

figcaption {
  color: var(--color-text-medium-emphasis);
  font-size: calc(14 / 16 * 1rem);
  margin-top: var(--space-1);
}

.Figurelist {
  margin: 32px -24px 48px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Figurelist li {
  list-style: none;
  vertical-align: top;
  margin: 32px 0 0;
  padding: 0 24px;
  box-sizing: border-box;
  width: 50%;
}

.Figurelist li:first-child,
.Figurelist li:nth-child(2) {
  margin-top: 0;
}

.Figurelist figure {
  margin: 0;
}

@media (max-width: 800px) {
  .Figurelist {
    margin-left: -8px;
    margin-right: -8px;
  }
  .Figurelist li {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* for smartphone */
@media (max-width: 414px) {
  .Figurelist {
    display: block;
  }
  .Figurelist li {
    width: 100%;
  }
  .Figurelist li:nth-child(2) {
    margin-top: 32px;
  }
}
