/**
 * Footer
 */
.Footer {
  border-top: 1px solid var(--color-border-low-emphasis);
  margin-top: 64px;
  padding: 64px 0;
}

.Footer__Credit a {
  color: inherit;
  margin-left: 16px;
  line-height: 1;
}

.Footer a:hover,
.Footer a:focus {
  background-color: inherit;
}

.Footer__Credit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 28px;
}

.ThemeSwitch {
  align-items: center;
  display: flex;
  margin-top: 28px;
}

spindle-theme-switch {
  height: 34px;
  width: 84px;
}

.ThemeSwitch__Label {
  color: var(--color-text-medium-emphasis);
  font-size: calc(12 / 16 * 1rem);
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0 1rem;
}
