/**
 * Header
 */
.Header {
  padding: 0;
  margin-bottom: 7.2rem;
}

.Header a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
}

.Header a:hover,
.Header a:focus {
  background-color: inherit;
}

.Header__Logo {
  display: block;
  margin: 6.4rem 0 4.8rem;
  width: 157px;
}

.Header__title {
  border-left: 8px solid var(--clr-darkgray);
  display: inline-block;
  padding-left: 32px;
  font-size: 4.8rem;
  line-height: 1.16;
  font-weight: bold;
}

@media (max-width: 414px) {
  .Header {
    margin-bottom: 3.6rem;
  }
  .Header__Logo {
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
  }
  .Header__title {
    font-size: 3.6rem;
    padding-left: 24px;
  }
}
