/**
 * label
 */
.Label {
  background: var(--clr-silver);
  border-radius: 8px;
  color: var(--clr-gray);
  font-size: 10px;
  font-weight: bold;
  margin-left: 8px;
  padding: 0.3rem 8px;
  vertical-align: text-bottom;
}
