/**
 * Overrides
 * ライブラリの上書きしたいもの
 * A11y lightスタイルをベースに、Amebaカラーパレットに近い配色になるよう拡張する
 * @see https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/a11y-light.min.css
 * @see https://highlightjs.org/
 */

/* highlight.jsの上書き */
.hljs {
  font-size: calc(14 / 16 * 1rem);
  padding: 32px 32px;
  line-height: 2.28;
}
