/**
 * RuleLabel
 */
.RuleLabel {
  display: block;
  font-size: calc(15 / 16 * 1rem);
  font-weight: bold;
  line-height: 1;
  margin: 16px 0 8px;
  padding-right: 12px;
}

.RuleLabel > img {
  border: none;
  vertical-align: -0.5em;
}

.RuleLabel--good {
  color: var(--color-text-accent-primary);
}

.RuleLabel--bad {
  color: var(--color-text-caution);
}
