/**
 * RuleLabel
 */
.RuleLabel {
  display: block;
  font-size: calc(15 / 16 * 1rem);
  font-weight: bold;
  line-height: 1;
  margin: 16px 0 8px;
  padding-right: 12px;
}

.RuleLabel--good {
  color: var(--color-text-accent-primary);
}

.RuleLabel--bad {
  color: var(--color-text-caution);
}

.RuleLabel--good::before,
.RuleLabel--bad::before {
  background: currentColor;
  content: '';
  display: inline-block;
  height: 24px;
  margin-right: 4px;
  transform: scale(0.833); /* 20 / 24px */
  vertical-align: -0.45em;
  width: 24px;
}

.RuleLabel--good::before {
  -webkit-mask-image: url('/img/icon/circle_bold.svg');
}

.RuleLabel--bad::before {
  -webkit-mask-image: url('/img/icon/cross_bold.svg');
}
