/**
 * Theme
 */
.Theme--dark {
  display: none;
}

:root[data-color-scheme='dark'] .Theme--light {
  display: none;
}

:root[data-color-scheme='dark'] .Theme--dark {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) .Theme--light,
  :root:not([data-color-scheme='light']) .Theme--light {
    display: none;
  }

  :root:not([data-color-scheme]) .Theme--dark,
  :root:not([data-color-scheme='light']) .Theme--dark {
    display: block;
  }
}
