<footer class="Footer">
  <div class="Container">
    <div class="Footer__License License">
      <p>この文書は、<a href="https://openfresh.github.io/a11y-guidelines/">FRESH! LIVE Accessibility Guidelines</a>を元に、<a href="https://openfresh.github.io/a11y-guidelines/">Web Content Accessibility Guidelines（WCAG）2.1</a>の内容を簡易的に翻訳し加筆修正したものである。ウェブアクセシビリティ基盤委員会（WAIC）による<a href="https://waic.jp/docs/WCAG21/">WCAG 2.1翻訳文書</a>を併せて参考にしている。</p>
      <p>この文書は<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ表示 4.0 国際ライセンス</a>の下に提供されている。</p>
      <a class="License__Anchor" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="クリエイティブ・コモンズ・ライセンス" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
      </a>
    </div>
    <small class="Footer__Credit">
      Copyright © 2017 CyberAgent, Inc. All Rights Reserved.
      <a href="https://www.cyberagent.co.jp/">
        <img src="/a11y-guidelines/img/cyberagent.png" alt="CyberAgent" width="113" height="20">
      </a>
    </small>
  </div>
</footer>
