<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{{/* TODO: エディタとの互換性を保つためbaseを設定している。トリッキーな手法のため、公開時に削除する */}}
<base href="{{ .Site.BaseURL }}content/docs/">
{{ if isset .Params "title" }}
  <title>{{ .Params.Title }} - {{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Site.Title }}</title>
{{ end }}
<link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/a11y-light.min.css">
{{ if eq .Params.pageType "default" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/default.css">
{{ else }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/detail.css">
{{ end }}

<meta property="og:description" content="{{ .Site.Params.description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/favicon.png">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ameba_official">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
