<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{{ if isset .Params "title" }}
  <title>{{ .Params.Title }} - {{ .Site.Title }}</title>
{{ else }}
  <title>{{ .Site.Title }}</title>
{{ end }}
<link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/a11y-light.min.css">
{{ if eq .Params.pageType "default" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/default.css">
{{ else }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/detail.css">
{{ end }}
{{ if .IsHome }} {{/* トップページ */}}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
{{ end }}
{{ if .IsPage }} {{/* 記事ページ */}}
  {{ if .Description }} {{/* .md の description */}}
  <meta name="description" content="{{ .Description }}">
  <meta property="og:description" content="{{ .Description }}">
  {{ else }} {{/* 記事のサマリ */}}
  <meta name="description" content="{{ .Summary }}">
  <meta property="og:description" content="{{ .Summary }}">
  {{ end }}
{{ end }}
<meta property="og:image" content="{{ .Site.BaseURL }}/favicon.png">
{{ if .IsHome }} {{/* トップページ */}}
  <meta property="og:type" content="website">
{{ end }}
{{ if .IsPage }} {{/* 記事ページ */}}
  <meta property="og:type" content="article">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if isset .Params "title" }}
  <meta property="og:title" content="{{ .Params.Title }} - {{ .Site.Title }}">
{{ else }}
  <meta property="og:title" content="{{ .Site.Title }}">
{{ end }}

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ameba_official">

<link rel="canonical" href="{{ .Permalink }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}/img/apple-touch-icon.png">
