{{ if .Get "isList" }}<li>{{ end }}
  <figure>
    {{ if .Get "src2" }}<div class="FigureMulti">{{ end }}
    <img
      src="{{ .Get "src" }}"
      alt="{{ .Get "alt" }}"
    />
    {{ if .Get "src2" }}
      <img
        src="{{ .Get "src2" }}"
        alt="{{ .Get "alt2" }}"
      />
    {{ end  }}
    {{ if .Get "src2" }}</div>{{ end }}
    <figcaption>
      {{ if .Get "rule" }}
        <span class="RuleLabel RuleLabel--{{ .Get "rule" }}">
          <img src="{{ .Site.BaseURL }}/img/icon/{{ .Get "rule" }}.svg" width="24" height="24" alt="" />
          {{ if .Get "rule" | eq "bad" }}Bad{{ else if .Get "rule" | eq "good" }}Good{{ end }}
        </span>
      {{ end }}
      {{ .Inner }}
    </figcaption>
  </figure>
{{ if .Get "isList" }}</li>{{ end }}
