{{ if .Get "isList" }}<li>{{ end }}
  <figure>
    <img
      src="{{ .Get "src" }}"
      alt="{{ .Get "alt" }}"
    />
    {{ if or (.Get "caption") (.Get "rule") }}
      <figcaption>
        {{ if .Get "rule" }}
          <span class="RuleLabel RuleLabel--{{ .Get "rule" }}">
            <img src="{{ .Site.BaseURL }}/img/icon/{{ .Get "rule" }}.svg" width="16" height="16" alt="" />
            {{ if .Get "rule" | eq "bad" }}Bad{{ else if .Get "rule" | eq "good" }}Good{{ end }}
          </span>
        {{ end }}
        {{ .Get "caption" }}
      </figcaption>
    {{ end }}
  </figure>
{{ if .Get "isList" }}</li>{{ end }}
