{{ if .Get "isList" }}<li>{{ end }}
  <figure>
    <video controls>
      <source src="{{ .Get "src" }}" type="video/mp4" />
      {{ if .Get "captionSrc" }}
        <track label="Japan" kind="captions" srclang="ja" src="{{ .Get "captionSrc" }}" />
      {{ end }}
    </video>
    {{ if or (.Get "caption") (.Get "rule") }}
      <figcaption>
        {{ if .Get "rule" }}
          <span class="RuleLabel RuleLabel--{{ .Get "rule" }}">
            <img src="{{ .Site.BaseURL }}/img/{{ .Get "rule" }}.svg" width="16" height="16" alt="" />
            {{ if .Get "rule" | eq "bad" }}Bad{{ else if .Get "rule" | eq "good" }}Good{{ end }}
          </span>
        {{ end }}
        {{ .Get "caption" }}
      </figcaption>
    {{ end }}
  </figure>
{{ if .Get "isList" }}</li>{{ end }}
