name: Deploy to Preview Channel

on:
  pull_request:
    paths:
      - 'src/**'
      - '.eleventy.js'
      - '.firebaserc'
      - 'firebase.json'
      - 'package.json'
      - 'package-lock.json'

jobs:
  build_and_preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build Site
        run: |
          npm ci
          npm run build
      - uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0.10.0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          expires: 7d
