<footer class="Footer">
  <div class="Container">
    <div class="Footer__License License">
      <p>この文書は、<a href="https://openfresh.github.io/a11y-guidelines/">FRESH! LIVE Accessibility Guidelines</a>を元に、<a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines（WCAG）2.1</a>の内容を簡易的に翻訳し加筆修正したものである。ウェブアクセシビリティ基盤委員会（WAIC）による<a href="https://waic.jp/docs/WCAG21/">WCAG 2.1翻訳文書</a>を併せて参考にしている。</p>
      <p>この文書は<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ表示 4.0 国際ライセンス</a>の下に提供されている。</p>
      <a class="License__Anchor" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="クリエイティブ・コモンズ・ライセンス" src="https://i.creativecommons.org/l/by/4.0/88x31.png" width="88" height="31" />
      </a>
      <p>当サイトではサイトの利用動向調査のためGoogle Analyticsを利用しており、IPアドレスなどの特定の情報が自動的にGoogle, Incに送信される。このためにCookieを利用するが、これらは匿名で収集されており個人を特定するものではない。詳細は <a href="https://policies.google.com/technologies/partner-sites?hl=ja">Google のサービスを使用するサイトやアプリから収集した情報の Google による使用 – ポリシーと規約 – Google</a> を参照のこと。</p>
    </div>
    <small class="Footer__Credit">
      Copyright © 2017 CyberAgent, Inc. All Rights Reserved.
      <a href="https://www.cyberagent.co.jp/">
        <img src="/img/logo-cyberagent.svg" alt="CyberAgent" class="Theme--light" width="120" height="20">
        <img src="/img/logo-cyberagent-inverse.svg" alt="CyberAgent" class="Theme--dark" width="120" height="20">
      </a>
    </small>
    <label class="Footer__ThemeSwitcher" for="js-theme-switch">
      <input aria-label="ダークテーマを選択" id="js-theme-switch" name="dark-theme" type="checkbox">
      <!-- @see https://github.com/openameba/spindle/blob/main/packages/spindle-icons/dist/svg/astrogy.svg -->
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M12.3 21c-2.5 0-4.8-1-6.5-2.9-.5-.5-.6-1.3-.3-2s1-1 1.7-.9h1.1C12 15 15 12 15.2 8.3V7.2c-.1-.7.3-1.4.9-1.7.7-.3 1.4-.2 2 .3 2.1 1.9 3.2 4.8 2.8 7.7-.5 3.8-3.7 7-7.5 7.5h-1.1zM7 16.7c-.1 0-.2.1-.2.1 0 .1-.1.2 0 .3 1.6 1.8 4 2.7 6.4 2.3 3.2-.4 5.8-3 6.2-6.2.3-2.4-.5-4.8-2.3-6.4-.1-.1-.2-.1-.3 0-.1 0-.1.1-.1.2 0 .4.1.9 0 1.4-.2 4.4-3.9 8.1-8.3 8.3-.4.1-.9.1-1.4 0 .1 0 .1 0 0 0zm4-11.1-2.2-.2-.9-2c-.2-.5-1-.5-1.2 0l-.9 2-2.1.2c-.6.1-.8.8-.4 1.2l1.6 1.5-.4 2.1c-.1.6.5 1 1 .7L7.3 10l1.9 1.1c.5.3 1.1-.2 1-.7l-.4-2.2 1.6-1.5c.4-.3.2-1-.4-1.1z"/></svg>
    </label>
    <spindle-theme-switch></spindle-theme-switch>
  </div>
</footer>
