<header class="Header">
  {% if isTop %}
    <div class="Container">
      <select id="js-theme-switch">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
      <h1>
        <a href="/">
          <img src="/img/logo-ameba.svg" class="Header__Logo Theme--light" alt="Ameba" width="144" height="44" />
          <img src="/img/logo-ameba-inverse.svg" class="Header__Logo Theme--dark" alt="Ameba" width="144" height="44" />
          <span class="Header__title">Accessibility<br>Guidelines</span>
        </a>
      </h1>
    </div>
  {% else %}
    <p class="Container">
      <select id="js-theme-switch">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
      <a href="/">
        <img src="/img/logo-ameba.svg" class="Header__Logo Theme--light" alt="Ameba" width="144" height="44" />
        <img src="/img/logo-ameba-inverse.svg" class="Header__Logo Theme--dark" alt="Ameba" width="144" height="44" />
        <span class="Header__title">Accessibility<br>Guidelines</span>
      </a>
    </p>
  {% endif %}
</header>
