<header class="Header">
  {% if isTop %}
    <div class="Container">
      <h1>
        <a href="/">
          <img src="/img/logo.svg" class="Header__Logo" alt="Ameba" />
          <span class="Header__title">Accessibility<br>Guidelines</span>
        </a>
      </h1>
    </div>
  {% else %}
    <p class="Container">
      <a href="/">
        <img src="/img/logo.svg" class="Header__Logo" alt="Ameba" />
        <span class="Header__title">Accessibility<br>Guidelines</span>
      </a>
    </p>
  {% endif %}
</header>
