<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

{% if title and number %}
  {% set pageTitle %}{{ number }} {{ title }} - {{ site.title }}{% endset %}
{% elif title %}
  {% set pageTitle %}{{ title }} - {{ site.title }}{% endset %}
{% else %}
  {% set pageTitle %}{{ site.title }}{% endset %}
{% endif %}

<title>{{ pageTitle }}</title>

<link rel="icon" href="{{ site.baseURL }}/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/a11y-light.min.css" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/a11y-dark.min.css" media="(prefers-color-scheme: dark)">

{% if pageType === "default" %}
  <link rel="stylesheet" href="/css/default.css">
{% else %}
  <link rel="stylesheet" href="/css/detail.css">
{% endif %}

<meta property="og:title" content="{{ pageTitle }}" />

{% if description %}
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if number  %}
  <meta property="og:image" content="{{ site.baseURL }}/img/ogp/ogp_{{ number }}.png">
{% else %}
  <meta property="og:image" content="{{ site.baseURL }}/img/ogp/default.png">
{% endif %}

{% if IsTop %}
  <meta property="og:type" content="website">
{% else %}
  <meta property="og:type" content="article">
{% endif %}

<meta property="og:url" content="{{ permalink }}">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ameba_official">

<link rel="canonical" href="{{ permalink }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseURL }}/img/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{ site.baseURL }}/img/apple-touch-icon.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176911771-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-176911771-1');
</script>
