<script src="https://unpkg.com/@openameba/spindle-theme-switch/dist/spindle-theme-switch.js" type="module"></script>
<script type="module">
const mql = window.matchMedia('(prefers-reduced-motion: reduce)');
function applyThemeTransition () {
  const transition = !mql || mql.matches ? 'background 0.1s' : 'background 0.3s ease-out';
  document.body.style.transition = transition;
}

// To avoid applying the transition when initial page load
window.addEventListener('load', applyThemeTransition);

mql.addEventListener('change', applyThemeTransition, false);
</script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
<script defer>
document.addEventListener('DOMContentLoaded', () => {
  const blocks = document.querySelectorAll('pre code');
  for (const block of blocks) {
    hljs.highlightBlock(block);
  }
});
</script>
